ENVIRONMENT=
PORT=
ACCESSTOKENSECRET=
TELEGRAMBOTTOKEN=
WEBHOOKURL=
ADMINCHATID1=
ADMINCHATID2=

#Development Database Details
MONGO_URI_DEVELOPMENT=

#Productiom Database Details
MONGO_URI_PRODUCTION=
